<a href="#/">на главную</a>

<img class="col-sm-4" src="{{serial.img}}" alt="">
<div class="col-sm-8">
<h1>Name: {{serial.name}}</h1>
<h2>Release: {{serial.startDate}}</h2>
<h2 ng-if="serial.endDate">End: {{serial.endDate}}</h2>
<h2 ng-if="!serial.endDate">in progress</h2>

<div ng-if="serial.seasons">
	<serial-tabs title="season" seasons="serial.seasons" selected="2" get-serias="getSerias(season)">
		<div ng-repeat="seria in serias">
			<h3>{{seria.name}}</h3>
			<div>{{seria.description}}</div>
			<div>{{seria.date}}</div>
		</div>		
	</serial-tabs>
</div>
</div>

